<div class="container-home">
    <div class="form-wrapper">
        <form action="/artists/" method="GET" class="form-home">
            <input type="text" name="search" />
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>